.info {

}

.title {
    color: #515365;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
    width: 100%;
    text-transform: capitalize;
}

.title i {
    color: #fa6342;
    margin-right: 9px;
}

.main {
    font-size: 13px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 20px;
    letter-spacing: 0.1px;
    color: #959ab5;
}