.main {
    margin: 30px auto 0;
    width: 1355px;
    display: flex;
    flex-direction: row;
}

.messages {
    width: 460px;
    background: #fff none repeat scroll 0 0;
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.1);
}

.messages_head {
    display: inline-block;
    width: 100%;
    padding: 20px 15px;
}

.messages_head > h4 {
    color: #535165;
    display: inline-block;
    line-height: 20px;
    font-size: 18px;
    margin: 10px 0;
}

.users {
    margin-bottom: 0;
    max-height: 505px;
    padding-right: 10px;
    padding-left: 0;
    position: relative;
}