.formsController {
    width: 90%;
    margin-right: 15px;
}
.formsController.error input,
.formsController.error textarea {
    border: 1px solid red;
}

.formsController.error span {
    display: inline-block;
    color: red;
}

.formSummaryError {
    margin: 10px 0;
    display: inline-block;
    border: 1px solid red;
    padding: 5px;
    color: red;
}