.block {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 10px;
}

.input {
    display: inline-block;
    width: 97%;
    height: 50px;
    outline: 1px solid #535165;
}

.button {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 6px;
    background: #fa6342;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    transition: all .3s;
}

.button:hover {
    background: rgba(250, 99, 66, 0.8);
}
